<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlebLottery{% endblock %}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>

<body class="bg-gray-100 text-gray-800">
    <!-- Header -->
    <header class="bg-blue-600 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">PlebLottery</h1>
        </div>
        <nav class="bg-blue-700 text-white py-2">
            <div class="container mx-auto flex space-x-4">
                <a href="/" class="hover:underline">Home</a>
                <a href="/config" class="hover:underline">Configuration</a>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto py-8">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 PlebLottery.</p>
        </div>
    </footer>
</body>

</html>